<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegisterEmployeeFinger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <RegisterEmployeeFinger.Properties.Settings>
            <setting name="DBHost" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
        </RegisterEmployeeFinger.Properties.Settings>
    </userSettings>
</configuration>